.header {
    height: 120px; 
    width:100%;
    background-color: darkblue;
    border: 5px solid #333333;
}
.links {
    text-align: center;
}
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin: 5px;
}
.title {
    color:rgb(48, 224, 236);
    text-align: center;
}
body {
    background-color: skyblue;
  }
  .footer {
    background-color:#CCCCCC;
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-top: 3px solid #333333;
  }

  main {
    text-align:center ;
  }

  #name
  {
    min-width: 22%;
    height: 22%;
  }

  table 
  {
    background-color: #EEEEEE;
  }